@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

header {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 104px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    padding-right: 82px;
}

.nav {
    display: flex;
    justify-content: center;
    transition: 1.3s all ease;
    padding-top: 28px;
}

.header-logo {
    padding: 22px 78px;

}

.header-logo:hover {
    cursor: pointer;
    transition: 0.3s all ease;
    transform: scale(1.1);
}

.header-logo img {
    width: 51px;
    height: 35px;
}

.item {
    margin: 0px 22px;
    /* padding: 28px 28px 50px 28px; */
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.44px;
    color: black;
    letter-spacing: 0.652123px;
    transition: 0.3s all ease;
}

/* .nav a:hover {
    font-size: 21px;
    border-radius: 20px;
    background-color: #76e66c;
    text-decoration: underline;
    color: white;
    transition: 0.3s all ease;
    border-bottom: 5px solid White;
} */