.Newsletter_section-main {
    width: 100%;
    height: 466px;
    padding: 58px 354px 114px;

}

.title-join-us-now {
    width: 100%;
    font-size: 50px;
    line-height: 55px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 1.30425px;
}

.description-join-us {
    font-family: 'Roboto', sans-serif;
    padding-top: 48px;
    width: 100%;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    text-align: center;
    letter-spacing: 0.652123px;
    justify-content: center;
}
.description-join-us-text{
    width: 732px;
}